Django==5.0.6
django-bootstrap5==24.2
black==24.4.2
ruff==0.4.9
coverage==7.5.3
pytest==8.2.2
pytest-django==4.8.0
pytest-cov==5.0.0
pytest-playwright==0.5.0
pytest-xdist==3.6.1
playwright==1.44.0
beautifulsoup4==4.12.3
twine==5.1.0
build==1.2.1