<!DOCTYPE html>
{% load static django_bootstrap5 mizdb_inlines %}
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>MIZDB Inline Formset Demo</title>
    {{ form.media }}
    {{ formset.media }}
    <script src="{% static 'mizdb_inlines/js/mizdb_inlines.js' %}"></script>
    <script src="{% static 'demo/js/mode_switch.js' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="container p-3">
<div class="d-flex justify-content-between">
    <h2>MIZDB Inlines Demo</h2>
    <div>
    <span>Toggle mode:</span>
    <button id="color-mode-toggle" type="button" class="btn" title="Change color mode (light/dark)">
        <svg id="light-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        <svg id="dark-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon d-none"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </button>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div id="formsets" class="px-3">
        <h3>Inline Formset</h3>
        {% for formset in formsets %}
            {% inline_formset formset wrapper_class="my-2" layout="horizontal" %}
        {% endfor %}
        <h3>Tabular Inline Formset</h3>
        {% for formset in formsets %}
            {% tabular_inline_formset formset %}
        {% endfor %}
    </div>
    {% bootstrap_button button_type="submit" button_class="btn-success" content="Save" %}
    {% bootstrap_button button_type="reset" button_class="btn-warning" content="Reset" %}
</form>
</body>
</html>